<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue JS</title>
  <!-- CSS -->
  <link rel="stylesheet" href="assets/style.css" />
</head>

<body>
  <div id="app">

    <!-- Section Panier -->
    <div class="cart">
      <table>
        <thead>
          <tr>
            <th colspan="2">Votre commande</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ title }}</td>
            <td>{{ nbrProduct }}</td>
          </tr>
          <tr>
            <td>Code Promo</td>
            <td class="code-promo">
              <input v-model="promo" placeholder="Ajouter un code promo" />
            </td>
          </tr>
          <tr>
            <td>Total à payer</td>
            <td>
              <transition name="bounce">
                <div v-if="promo === 'royale' ">
                  (-3€)
                  <span class="sale">{{ totalPrice }} €</span>
                  {{ totalPrice - 3}} €
                </div>
                <div v-else>{{ totalPrice }} €</div>
              </transition>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Section Produit -->
    <div class="product-section">
      <product :bestseller="bestSellerProduct" @add-product="addCart($event)"></product>
    </div>
  </div>

  <!-- JS -->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="main.js"></script>
  <script src="components/Product.ts"></script>
  <script>
    const mount = app.mount("#app");
  </script>
</body>

</html>