@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

#app {
  display: flex;
  flex-direction: row-reverse;
}
body {
  margin: 0px;
  font-family: "Source Sans Pro";
  font-size: 20px;
}
button {
  background-color: #d0021b;
  border-color: #d0021b;
  color: #fff;
  cursor: pointer;
  font-family: "Oswald", sans-serif !important;
  line-height: 20px;
  margin: 20px auto;
  max-width: initial;
  min-width: initial;
  padding: 12px;
  text-align: center;
  text-transform: uppercase !important;
  width: 350px;
}
button:hover {
  background-color: #b6132c;
}
.cart {
  margin-right: 40px;
  margin-top: 40px;
}
h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
  font-family: "Roboto", sans-serif;
}
img {
  width: 90%;
  padding: 15px;
}
input {
  width: 96%;
  height: 27px;
}
.new-price {
  color: #c10a28;
  font-weight: bold;
  text-decoration: underline;
}
.product-description {
  width: 47%;
}
.product-image {
  width: 52%;
}
.product-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 0px 40px 40px;
  width: 80%;
}
.sale {
  color: #616161;
  margin-right: 5px;
  text-decoration: line-through;
}
.sauces li {
  padding: 5px 15px;
  margin: 10px 0px;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
}
.sauces li:hover {
  color: black;
}
span.price {
  color: #c10a28;
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 400;
}
strong {
  font-size: 18px;
}
table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}
table thead th {
  text-align: center;
}
td {
  width: 170px;
}
td.code-promo {
  padding: 0;
}